<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Dao.myUserMapper">
  <resultMap id="BaseResultMap" type="com.Pojo.myUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select u.id as id,
    u.`name` as name,
    u.`password` as password,
    r.`name` as role
    from myUser u
    right join user_role ur on u.id=ur.user_id
    right join role r on ur.role_id=r.id
    where u.id = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectAllUser" resultMap="BaseResultMap" parameterType="map">
    select u.id as id,
    u.`name` as name,
    u.`password` as password,
    r.`name` as role
    from myUser u
    right join user_role ur on u.id=ur.user_id
    right join role r on ur.role_id=r.id
    where u.id is not null
    group by u.id,u.`name`,u.`password`,r.`name`
    limit #{start},#{size}
  </select>

  <select id="allTotal" resultType="int">
    select count(id) from myUser
  </select>

  <select id="login" parameterType="com.Pojo.myUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from myUser where name = #{name,jdbcType=VARCHAR} and password=#{password,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from myUser
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insert" parameterType="com.Pojo.myUser">
    insert into myUser (id, name, password
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.Pojo.myUser">
    insert into myUser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Pojo.myUser">
    update myUser
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Pojo.myUser">
    update myUser
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>